<form method="post" asp-action="Results">
    <div class="mb-2">
        <label>Search orders</label>
        <input class="form-control" name="keyword" />
    </div>
    <button class="btn btn-primary">Search</button>
</form>
